<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Tic Tac Vue</title>
        <link rel="stylesheet" href="/style/style.css">
    </head>

    <body>
        <div id="game-wrapper">
            
            <div id="game-info">
                {{ infoMessage }}
            </div>

            <div id="squares">
                <div 
                    v-for="(square, i) in squares"
                    v-on:click="updateSquare(i)"
                    v-bind:class="{ highlighted: square.isHighlighted }"
                    class="square">
                    {{ square.value }}
                </div>
            </div>
        </div>

        <button
            v-on:click="restartGame()"
            v-if="!activeGame.inProgress"
            id="restart-button">
                {{ startMessage }}
        </button>

        <script src="https://cdn.jsdelivr.net/npm/vue" charset="utf-8"></script>
        <script src="/socket.io/socket.io.js" charset="utf-8"></script>
        <script src="js/Square.js" charset="utf-8"></script>
        <script src="js/Game.js" charset="utf-8"></script>
        <script type="text/javascript">
            var socket = null;
            
            let activeGame = new Game();
            let gameVue = new Vue({
                el: '#game-wrapper',
                data: activeGame,
                computed: {
                    infoMessage: function() {
                        if (this.inProgress) {
                            return "It is " + this.currentTurn + "'s turn!";
                        }
                        if(this.winner) {
                            return '\'' + this.winner + '\'' + ' wins! Wow!';
                        }
                        if (!this.winner && !this.inProgress) {
                            return "It's a tie..";
                        }
                    }
                },
                created: function() {
                    socket = io();
                },
                methods: {
                    updateSquare: function(i) {
                        socket.emit('index', i);
                    }
                },
                mounted: function() {
                    socket.on('index', function (i) {
                        console.log('index is: ', i);
                        activeGame.makeMove(i);
                        // gameVue.$nextTick(function() {

                        // })
                    });
                }
            })

            let restartAction = new Vue({
                el: '#restart-button',
                data: activeGame,
                computed: {
                    startMessage: function() {
                        if (!this.inProgress) {
                            return "restart game";
                        } else {
                            return "null";
                        }
                    }
                },
                created: function() {
                    socket = io();
                },
                methods: {
                    restartGame: function() {
                        socket.emit('restart', true);
                    }
                },
                mounted: function() {
                    socket.on('restart', function(restart) {
                        if (restart) {
                            activeGame.restartGame();
                        }
                    })
                }
            })
        </script>
    </body>
</html>